<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="fragments/layout/asamiLayout.html :: asamiLayout(~{::title}, ~{::#content}, ~{::#scripts})">
<head>
    <meta charset="UTF-8">
    <title>Asami Restaurant Index</title>
    <link th:href="@{/assets/img/asami_logo.png}" rel="icon">
</head>
<body>
    <section id="content">
        <div>CONTENT</div>
    </section>
</body>
<th:block id="scripts">
    <script type="text/javascript" th:src="@{assets/js/jquery.min.js}"></script>
</th:block>
</html>